name: Generate Snake

on:
  # Se ejecuta automáticamente cada 24 horas (a la medianoche)
  schedule:
    - cron: "0 0 * * *" 
  
  # Permite ejecutarlo manualmente desde la pestaña Actions
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # Nombre de usuario de GitHub
          github_user_name: Nixxx8
          # Genera la serpiente en modo oscuro (Dark Mode)
          outputs: dist/snake.svg?palette=github-dark

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
